.previewPage {
  background-color: var(--tblr-bg-surface);
  border: 1px solid var(--tblr-border-color);
  border-radius: var(--tblr-border-radius);
  padding: 10px;
  transition: opacity 0.2s;
  margin-bottom: 8px;
}

.previewPage_dragged {
  background-color: var(--tblr-gray-50);
  opacity: 0.8;
}

.previewPage:has(.deleteButton:hover) {
  opacity: 0.5;
}

.previewContainer {
  margin-bottom: 300px;
}

.previewPageDropzone {
  min-height: 150px;
}

.previewPageDropzone_draggedOver {
  outline: 2px solid var(--tblr-green);
}

.previewPageDropzone_empty {
  border: 2px dashed var(--tblr-gray-200);
  border-radius: 4px;
  background-color: var(--tblr-gray-100);
}

.paletteContainer {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  min-width: 150px;
  max-width: 200px;
}

@media screen and (max-width: 1100px) {
  .paletteContainer {
    min-width: unset;
    max-width: unset;
  }
}

.paletteItem {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  background: #fafafa;
  cursor: grab;
}

.fieldItem {
  /* padding: 8px; */
  margin-bottom: 8px;
  border: 1px solid var(--tblr-gray-100);
  /* background-color: var(--tblr-gray-50); */
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.fieldItem_dragged {
  background-color: var(--tblr-gray-100);
  opacity: 0.8;
}

.fieldItem_selected {
  /* background-color: var(--tblr-primary-lt); */
  border: 1px solid #83b7e8;
}

.fieldItemContent {
  padding: 8px;
  padding-left: 0px;
  flex: 1;
}

.fieldItemContent > * {
  text-align: left;
}

.handle {
  cursor: grab;
  display: flex;
}

.handleSmall {
  cursor: grab;
  display: flex;
  align-self: stretch;
  align-items: center;
  background-color: var(--tblr-gray-100);
}

.handleSmall:hover {
  background-color: var(--tblr-gray-200);
}

.fieldItemPreviewContainer {
  flex: 1;
}

.fieldItemPreviewContainer > * {
  text-align: left;
}
