:root {
  --tblr-border-color: #dadce0;
}

.container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--tblr-border-color);
  border-bottom: 1px solid var(--tblr-border-color);
  min-height: 70dvh;
  width: 100%;
}

.sidebar {
  border-left: 1px solid var(--tblr-border-color);
  padding: 8px;
}

.sidebarLeft {
  border-right: 1px solid var(--tblr-border-color);
  border-left: none;
}

.center {
  padding: 8px;
  overflow: hidden;
  flex: 1;
}

.title {
  margin: -8px -8px 8px;
  padding: 8px 16px;
  padding-left: 48px;
  border-bottom: 1px solid var(--tblr-border-color);
  position: relative;
}

.right {
  max-width: 450px;
  min-width: 350px;
}
.right .title {
  padding-left: 16px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebarLeft .title {
  padding-left: 0px;
}

.collapseLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(10px) translateY(-50%);
  z-index: 1000;
}

.collapseRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-10px) translateY(-50%);
  z-index: 1000;
}

.sidebar,
.sidebarLeft,
.right {
  position: sticky;
  top: 60px;
  align-self: flex-start;
  height: calc(100dvh - 60px);
}
