/* TriPanelLayout.module.css */

:root {
  --tblr-border-color: #dadce0;
}

.container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--tblr-border-color);
  border-bottom: 1px solid var(--tblr-border-color);
  min-height: 70dvh;
  width: 100%;
}

.sidebar {
  border-left: 1px solid var(--tblr-border-color);
  padding: 8px;
  position: sticky;
  top: 60px;
  align-self: flex-start;
  height: calc(100dvh - 60px);
  overflow-y: auto;
}

.sidebarLeft {
  border-right: 1px solid var(--tblr-border-color);
  border-left: none;
}

.center {
  padding: 8px;
  overflow: hidden;
  flex: 1;
}

.title {
  margin: -8px -8px 8px;
  padding: 8px 16px;
  padding-left: 48px;
  border-bottom: 1px solid var(--tblr-border-color);
  position: relative;
}

.right {
  flex-basis: 350px;
}

.right .title {
  padding-left: 16px;
}

.sidebarLeft .title {
  padding-left: 8px;
}

.collapseLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(10px) translateY(-50%);
  z-index: 1000;
}

.collapseRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-10px) translateY(-50%);
  z-index: 1000;
}

/* Mobile (under 800px): hide standard sidebars & collapse buttons, turn right panel into tabs */
@media (max-width: 1100px) {
  .sidebarLeft {
    display: none;
  }

  .collapseLeft {
    display: none;
  }

  .right {
    flex-basis: 300px;
  }

  .tabs {
    display: flex;
    border-bottom: 1px solid var(--tblr-border-color);
    margin: -8px -8px 8px;
  }

  .tabButton {
    flex: 1;
    padding: 8px;
    padding-bottom: 6px;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }

  .tabButtonActive {
    border-bottom-color: var(--tblr-border-color);
    background-color: var(--tblr-gray-100);
    font-weight: bold;
  }

  .title {
    padding-left: 8px;
  }
}
