.dataBox {
  background-color: var(--tblr-body-bg);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  flex: 1;
}

.value {
  font-size: 2rem;
}

.dataBoxTrend {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
}
