.sidenav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-right: 2px solid #e0e0e0;
  width: 200px;
  margin-top: -10px;
  padding-left: 0;
  height: calc(100dvh - 60px);

  position: sticky;
  top: 60px;
}

.sidenav .btn:hover {
  background-color: var(--tblr-gray-300);
  color: var(--tblr-body-color);
  border-color: var(--tblr-gray-300);
}

.container {
  position: relative;
}

.shade {
  display: none;
}

@media screen and (max-width: 500px) {
  .sidenav {
    position: fixed;
    z-index: 799;
    background-color: var(--tblr-body-bg);
    display: none;
    top: 70px;
    left: 0px;
    padding-left: 10px;
  }
  .sidenav.open {
    display: flex;
  }
  .shade.open {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 798;
  }
}

@media print {
  .sidenav {
    display: none !important;
  }
}

.sidenav hr {
  margin: 8px 0;
  margin-right: -8px;
}

.sidenav a {
  overflow-x: hidden;
}
