.container {
  position: relative;
  height: 100%;
}

.icon {
  position: absolute;
  color: #ececec;
  fill: #ececec;
  z-index: 1;
  bottom: -100px;
  right: -100px;
}

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.outerCard {
  overflow: hidden;
  width: 300px;
  flex: 0 0 auto;
  min-height: 320px;
}

.bottomRow {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.completed {
  opacity: 0.7;
}

.completed .icon {
  filter: grayscale(1);
  opacity: 0.35;
}
